.git-seccion {
  padding: 1rem;
}
.abbr-for-pretty-format {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.abbr-for-pretty-format div {
  width: calc(100% / 4);
  height: 100%;
  text-align: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.2rem;
  height: 3rem;
  border: thin solid #000;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.abbr-for-pretty-format abbr {
  position: relative;
}
.abbr-for-pretty-format abbr:hover::after {
  position: absolute;
  bottom: 70%;
  left: 100%;
  display: block;
  padding: 0.6rem;
  background: #000;
  color: #fff;
  content: attr(data-title);
  font-size: 0.9rem;
  font-weight: 600;
  width: 150px;
  white-space: pre-wrap;
}

.git-card-row > div:first-child {
  padding: 1rem;
}
.git-card-row > div:last-child {
  width: 80%;
  margin: 0 auto;
}
.git-pre-wrap {
  white-space: pre-wrap;
  overflow: hidden;
  font-size: 1.1rem;
}
@media screen and (min-width: 1200px) {
  .git-card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .git-card-row > div {
    width: 48%;
  }
  .git-card-row > div:first-child {
    padding: 1rem;
  }
  .git-card-row > div:last-child {
    width: 48%;
  }
  .abbr-for-pretty-format {
    width: 90%;
  }
  .abbr-for-pretty-format div {
    width: 12%;
  }
}
